apiVersion: v1
kind: Secret
metadata:
  name: sdp-injector-secrets
  namespace: sdp-system
type: Opaque
data:
  sdp-injector-key.pem: $SDP_INJECTOR_KEY
  sdp-injector-crt.pem: $SDP_INJECTOR_CERT
  sdp-sidecars.json: $SDP_SIDECARS
