apiVersion: v1
kind: Secret
metadata:
  name: ${NAME}
type: Opaque
data:
  client-username: ${CLIENT_USERNAME}
  client-password: ${CLIENT_PASSWORD}
  client-controller-url: ${CONTROLLER_PROFILE_URL}
